compose/*
!compose/.gitkeep

config/*.env

config/traefik/*
!config/traefik/.gitkeep

data/db/*
!data/db/.gitkeep

data/geth/*
!data/geth/.gitkeep

data/mew/*
!data/mew/.gitkeep

data/ssl/*
!data/ssl/.gitkeep
